:root {
  --send-bg: #0b93f6;
  --send-color: white;
  --receive-bg: #e5e5ea;
  --receive-text: black;
  --page-background: white;
}

.shared {
  text-align: left;
  max-width: 27rem;
  word-wrap: break-word;
  /* margin-bottom: 12px; */
  /* line-height: 24px; */
  position: relative;
  padding: 0.6rem 1.1rem;
  border-radius: 1.4rem;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1.4rem;
  }
}

.send {
  color: var(--send-color);
  background: var(--send-bg);
  align-self: flex-end;
  margin-left: 2.2rem;

  &:before {
    right: -0.4rem;
    width: 1.1rem;
    background-color: var(--send-bg);
    border-bottom-left-radius: 0.88rem 0.77rem;
  }

  &:after {
    right: -1.4rem;
    width: 1.4rem;
    background-color: var(--page-background);
    border-bottom-left-radius: 0.55rem;
  }
}

.receive {
  background: var(--receive-bg);
  color: black;
  align-self: flex-start;
  margin-right: 2.2rem;

  &:before {
    left: -0.4rem;
    width: 1.1rem;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 0.88rem 0.77rem;
  }

  &:after {
    left: -1.4rem;
    width: 1.4rem;
    background-color: var(--page-background);
    border-bottom-right-radius: 0.55rem;
  }
}
