@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/lime-dark.css";

@import "../lib/styles/highlight-js/github.css";
@import "../lib/styles/highlight-js/github-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  * {
    cursor: default;
    letter-spacing: -0.01em;
  }

  /* Opt text-based inputs out of "forced" default cursor */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    cursor: text;
  }

  /* A CSS media query to target mobile devices */
  @media (max-width: 639px) {
    font-size: 14px;
  }
}

@layer utilities {
  /* This utility extends the hover/click area on all sides */
  .hover-expand {
    position: relative;
    --hover-radius: -10px;
  }

  .hover-expand::before {
    content: "";
    position: absolute;
    top: var(--hover-radius);
    left: var(--hover-radius);
    right: var(--hover-radius);
    bottom: var(--hover-radius);

    /* By not setting background or borders, this pseudo–element is invisible,
       but because it’s part of the element’s subtree, hovering over it
       triggers the parent’s :hover state. */
    pointer-events: auto;
  }

  .hover-expand-x {
    position: relative;
    --hover-radius: -10px;
  }

  .hover-expand-x::before {
    content: "";
    position: absolute;
    left: var(--hover-radius);
    right: var(--hover-radius);

    /* By not setting background or borders, this pseudo–element is invisible,
       but because it’s part of the element’s subtree, hovering over it
       triggers the parent’s :hover state. */
    pointer-events: auto;
  }
}
